---
const today = new Date();

import {
  SITE_EMAIL,
  SITE_URL,
  SITE_AUTHOR,
  SITE_AUTHOR_BIO,
} from "../consts";
---

<footer class="md:row-start-3 md:col-start-1">
  <ul>
    <li>
      <a href="https://github.com/kaishin" rel="me">
        GitHub
      </a>
      <span class="separator">/</span>
    </li>
    <li>
      <a href="https://mastodon.social/@redalemeden" rel="me">
        Mastodon
      </a>
      <span class="separator">/</span>
    </li>
    <li>
      <a href="https://twitter.com/kaishin" rel="me">
        Twitter
      </a>
    </li>
  </ul>
  <div class="h-card" style="display: none">
    <a class="p-name u-url" href={SITE_URL}>
      {SITE_AUTHOR}
    </a>
    <img
      class="u-photo"
      src={SITE_URL + '/author-photo.jpg'}
      alt={SITE_AUTHOR}
    />
    <p class="p-note">{SITE_AUTHOR_BIO}</p>
    <a class="u-email" href={'mailto:' + SITE_EMAIL}>
      {SITE_EMAIL}
    </a>
  </div>
  <span class="copyright">
    <em>&copy;</em> 2009-{today.getFullYear()} {SITE_AUTHOR}.<br />
  </span>
</footer>
